* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
  }

  html {
    color: #fff;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, #000000, #9e00ff);
    background-size: 120% 120%;
  }

